{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Felipe Navarrete - Profesor de Educación Física</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350">
        <div class="about-content">
            <h3>El titulo que sea</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error blanditiis impedit distinctio nam iusto porro expedita est maxime, ipsum necessitatibus illo soluta eligendi harum dolorem inventore! Voluptatibus fugit error illum.
    <p></p>
        </div>
    </div>
{% endblock %}